<div class="booyah-box">

 

  <h3>User Dashboard</h3>
  
   
  


  <h4><%= @user.email %></h4><h5>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h5>
  <h5><%= @user.tutorials.count %> total tutorials</h5>
  <%= link_to 'edit', edit_user_registration_path, class: 'btn btn-outline-secondary' %>

    
</div>

