<div class="hero">
    <br /> 
    <div class="frosty col-10 offset-8 col-sm-4">
      <br />
      <h1>easilySmart</h1>
      <h2>Never stop learning</h2>
      <br />
      <%= link_to 'Learn More', tutorials_path, class: 'btn btn-success' %>
  </div>
<div class="hero2">
  <br />
  <div class="kwadrat">
    <div class="trojkat">
      <div class="trojkat_bg"></div>
    </div>
  </div>

  <div class="kwadrat2">
    <div class="trojkat2">
      <div class="trojkat_bg2"></div> 
    </div>
  </div>


</div>

